html,body{width:100%;height:100%;overflow:hidden;white-space:nowrap;}

iframe{width:100%;height:100%;padding:0;margin:0;}

*{font-family:'Courier New';font-size:12px;}

img{vertical-align:middle;}