<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>IWAP MVC</display-name>

	<filter>
		<filter-name>rest</filter-name>
		<filter-class>org.leixu.iwap.mvc.WebContainer</filter-class>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>^(.+[.])(jsp|png|gif|jpg|js|css|jspx|jpeg)$</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>rest</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>