<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<id>0</id>
	<pid>0</pid>
	<name>移动营销系统</name>
	<activity />
	<menu>
		<id>1</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_2</image>
		<activity />
		<menu>
			<id>11</id>
			<pid>1</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>111</id>
				<pid>1</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>12</id>
			<pid>1</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
		<menu>
			<id>13</id>
			<pid>1</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>2</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_3</image>
		<activity />
		<menu>
			<id>21</id>
			<pid>2</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>12</id>
				<pid>1</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>22</id>
			<pid>2</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
		<menu>
			<id>23</id>
			<pid>2</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>3</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_2</image>
		<activity />
		<menu>
			<id>31</id>
			<pid>3</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>311</id>
				<pid>31</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>32</id>
			<pid>3</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
		<menu>
			<id>33</id>
			<pid>3</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>4</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_2</image>
		<activity />
		<menu>
			<id>41</id>
			<pid>4</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>411</id>
				<pid>41</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>42</id>
			<pid>4</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
		<menu>
			<id>43</id>
			<pid>4</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>5</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_2</image>
		<activity />
		<menu>
			<id>51</id>
			<pid>5</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>511</id>
				<pid>51</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>52</id>
			<pid>5</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity />
		</menu>
		<menu>
			<id>53</id>
			<pid>5</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>6</id>
		<pid>0</pid>
		<name>业务办理</name>
		<image>menu_1</image>
		<activity />
		<menu>
			<id>61</id>
			<pid>6</pid>
			<name>业务11</name>
			<image>menu_1</image>
			<activity />
			<menu>
				<id>12</id>
				<pid>1</pid>
				<name>业务12</name>
				<image>menu_1</image>
				<activity>.business.OnLineJob</activity>
			</menu>
		</menu>
		<menu>
			<id>62</id>
			<pid>6</pid>
			<name>业务12</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
		<menu>
			<id>63</id>
			<pid>6</pid>
			<name>业务13</name>
			<image>menu_1</image>
			<activity>.business.OnLineJob</activity>
		</menu>
	</menu>
	<menu>
		<id>100</id>
		<pid>0</pid>
		<name>返回</name>
		<image>menu_return</image>
		<activity />
	</menu>
	<menu>
		<id>200</id>
		<pid>0</pid>
		<name>关闭</name>
		<image>menu_close</image>
		<activity />
	</menu>
</menu>