<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1列自适应高度、宽度</title>
<link href="layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="layout">

		<div class="top">top</div>

		<div class="main">
			<div class="center">
				<!--  -->
				<div class="layout">

					<div class="top">
						<!--  -->
						<div class="panel">
							<div class="bar">
								<div class="barleft">.::标题</div>
								<div class="barright" align="right">
									<input type="button"  class="btn01" onmouseover="this.className='btn0101'" onmouseout="this.className='btn01'" value="-"/>
									<input type="button"  class="btn01" onmouseover="this.className='btn0101'" onmouseout="this.className='btn01'" value="+"/>
									<input type="button"  class="btn01" onmouseover="this.className='btn0101'" onmouseout="this.className='btn01'" value="X"/>
								</div>
								<div class="barcenter">..</div>
							</div>
							<div class="panelmain">
								11111111111111111111111111111111111111111111111111111111111111111111111111111111111
								1111111<br>11111111111111111111111111111111 1111111<br>
										1111111<br> 1111111<br> 1111111<br> 1111111<br>
														1111111<br> 1111111<br> 1111111<br> 1111111<br>
																		1111111<br> 1111111<br> 1111111<br>
																					1111111<br> 1111111<br> 1111111<br>
																								1111111<br> 1111111<br> 1111111<br>
																											1111111<br> 1111111<br> 1111111<br>
																														1111111<br> 1111111<br> 1111111<br>
																																	1111111<br> 1111111<br>
																																			1111111<br> 1111111<br>
																																					1111111<br> 1111111<br>
																																							1111111<br> 1111111<br>
																																									1111111<br> 1111111<br>
																																											1111111<br> 1111111<br>
																																													1111111<br>1111111<br>
																																															1111111<br>
							</div>
						</div>
						<!--  -->
					</div>

					<div class="main">
						<div class="center">
							<!--  -->
							<div class="panel">
								<div class="bar">
									<div class="barleft">.::标题</div>
									<div class="barright" align="right">
										<span style="margin: 1px;" onclick="alert('最小化')">-</span> <span
											style="margin: 1px;" onclick="alert('最大化')">+</span> <span
											style="margin: 1px;" onclick="alert('关闭')">X</span>
									</div>
									<div class="barcenter">..</div>
								</div>
								<div class="panelmain">
									11111111111111111111111111111111111111111111111111111111111111111111111111111111111
									1111111<br>11111111111111111111111111111111 1111111<br>
											1111111<br> 1111111<br> 1111111<br> 1111111<br>
															1111111<br> 1111111<br> 1111111<br>
																		1111111<br> 1111111<br> 1111111<br>
																					1111111<br> 1111111<br> 1111111<br>
																								1111111<br> 1111111<br> 1111111<br>
																											1111111<br> 1111111<br> 1111111<br>
																														1111111<br> 1111111<br> 1111111<br>
																																	1111111<br> 1111111<br>
																																			1111111<br> 1111111<br>
																																					1111111<br> 1111111<br>
																																							1111111<br> 1111111<br>
																																									1111111<br> 1111111<br>
																																											1111111<br> 1111111<br>
																																													1111111<br> 1111111<br>1111111<br>
																																																1111111<br>
								</div>
							</div>
							<!--  -->
						</div>
					</div>

					<div class="bottom">
						<!--  -->
						<div class="panel">
							<div class="bar">
								<div class="barleft">.::标题</div>
								<div class="barright" align="right">
									<span style="margin: 1px;" onclick="alert('最小化')">-</span> <span
										style="margin: 1px;" onclick="alert('最大化')">+</span> <span
										style="margin: 1px;" onclick="alert('关闭')">X</span>
								</div>
								<div class="barcenter">..</div>
							</div>
							<div class="panelmain">
								11111111111111111111111111111111111111111111111111111111111111111111111111111111111
								1111111<br>11111111111111111111111111111111 1111111<br>
										1111111<br> 1111111<br> 1111111<br> 1111111<br>
														1111111<br> 1111111<br> 1111111<br> 1111111<br>
																		1111111<br> 1111111<br> 1111111<br>
																					1111111<br> 1111111<br> 1111111<br>
																								1111111<br> 1111111<br> 1111111<br>
																											1111111<br> 1111111<br> 1111111<br>
																														1111111<br> 1111111<br> 1111111<br>
																																	1111111<br> 1111111<br>
																																			1111111<br> 1111111<br>
																																					1111111<br> 1111111<br>
																																							1111111<br> 1111111<br>
																																									1111111<br> 1111111<br>
																																											1111111<br> 1111111<br>
																																													1111111<br>1111111<br>
																																															1111111<br>
							</div>
						</div>
						<!--  -->
					</div>

				</div>
				<!--  -->
			</div>
		</div>

		<div class="bottom">bottom</div>

	</div>


</body>
</html>
